h1{
    color:rgb(75, 161, 236);
}
ol{
    border: 2px solid rgb(49, 49, 1);
    padding: 5px ;
    margin:5px;
    background-color: beige;
}
code{
    background-color: rgba(97, 153, 134, 0.959);
    border: 1px solid rgba(97, 153, 134, 0.959);
    border-radius: 5px;
    padding: 2px;
}
.main-content{
    background-color: rgb(156, 88, 56);
    text-align: left;
    
}